.root-category-clients-logos {
  // box-shadow: 0px 0px 0px 1px #1f493a;
  border-bottom: 1px solid $primary-color;
  padding: 2rem 0;
  font-weight: 500;
  .logos-grid {
    img {
      max-height: 4rem;
    }
  }
  h3,
  h2 {
    color: $orange-800;
  }
  .logos-grid {
    margin-top: 1rem;
    justify-content: center;
  }
  @include breakpoint(small down) {
    .icon-with-text {
      img {
        max-height: 2.5rem;
      }
      .text {
        line-height: 1.1;
      }
    }
  }
}