// Theme Information
//--------------------------------------------//
$theme_name: "Feedwell";
$theme_uri: "https://www.feedwell.com.au/";
$theme_description: "Custom Website for " $theme_name;
$theme_version: "1.1";
$theme_author: "WebKingdom";
$theme_author_uri: "https://www.webkingdom.com.au";
$theme_license: "GPL";
$theme_tags: "WordPress, Foundation, Bedrock";

